<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csc780.pacmon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:debuggable="true"
        android:icon="@drawable/pac_mon_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:label="GameActivity" >
            <intent-filter>
                <action android:name="com.csc780.pacmon.GAMEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LevelSelectActivity"
            android:screenOrientation="portrait"
            android:label="LevelSelectActivity" >
            <intent-filter>
                <action android:name="com.csc780.pacmon.LEVELSELECTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.csc780.multipacmon.MGameActivity"
            android:screenOrientation="portrait"
            android:label="MGameActivity" >
            <intent-filter>
                <action android:name="com.csc780.pacmon.MGAMEACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:label="AboutActivity" >
            <intent-filter>
                <action android:name="com.csc780.pacmon.ABOUTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>